<div class="header-margin">

    <div class="logo"><a class="ajax-link" href="index.html">Lim's Portfolio</a></div>
    <ul class="header-nav">
        <li><a class="ajax-link" href="projects.html">Projects</a>
            <ul>
                <li><a class="ajax-link" href="projects.html">Projects</a></li>
                <li><a class="ajax-link" href="portfolio_1.html">Smart Unmanned Order System</a></li>
                <li><a class="ajax-link" href="portfolio_3.html">capacity detection trash can</a></li>
                <li><a class="ajax-link" href="portfolio_2.html">Autonomous RC car</a></li>
                <li><a class="ajax-link" href="portfolio_4.html">Android Digital doorlock</a></li>
            </ul>
        </li>
        <li><a class="ajax-link" href="activity.html">Activity</a></li>
        <li><a class="ajax-link" href="about-us.html">Profile</a></li>
    </ul>
</div>